<div id="intro" class="step slide" data-x="0">
  <%= image 'rubinius.png' %>
  <h1>Polyglot Rails applications with Rubinius<h1>
      <h4>Txus - <a href="http://twitter.com/txustice" target="_blank">twitter.com/txustice</a> - <a href="http://github.com/txus" target="_blank">github.com/txus</a></h4>

</div>
