<div id="intro" class="step slide" data-y="1000">
  <h5>I work at</h5>
  <%=image 'logo.png' %>
  <h1>Codegram</h1>
  <h5>These slides reflect my opinion and view and do not necessarily reflect the views or opinions of my employer (which is me)</h5>
</div>
