<div id="polyglot" class="step slide" data-y="2000">
  <div style="text-align:center">
    <%= image 'polyglot_1.png' %>
  </div>
</div>

<div class="step slide" data-y="3000">
  <div style="text-align:center">
    <h2>Sapir-Whorf hypothesis</h2>
    <h5>[...] a particular language's nature influences the habitual thought of its speakers: that different language patterns yield different patterns of thought [...]</h5>
  </div>
</div>

<div class="step slide" data-y="4000">
  <h2>Tradeoffs of using <i>multiple applications</i></h2>
  <ul>
    <li>Communication overhead (IPC, HTTP APIs)</li>
    <li>Increased complexity</li>
  </ul>
</div>

<div class="step slide" data-rotate="180" data-y="4000" style="position:relative">
  <h3 style="position:absolute; top:0px; width:250px">Language shouldn't be a reason to separate things!</h3>
  <div style="text-align:center">
    <img src="/images/polyglot_2.png" width="700px"/>
    <h3 style="color:red">&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;</h1>
    <h3 style="color:yellow; margin-top: -20px">&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;</h1>
    <h3 style="color:red; margin-top: -20px">&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;&#10084;</h1>
  </div>
  <div style="text-align:right; margin-top: -50px">
    <h5>with love,</h5>
    <h5 style="font-size: 15px">Spain</h6>
  </div>
</div>
