<div class="step slide" data-x="5000">
  <div style="text-align: center">
    <h1>Rubinius<h1>
    <%= image 'rubinius.png' %>
    <h5>An environment for the Ruby programming language providing performance, accessibility, and improved programmer productivity<h5>
  </div>
  <pre>$ rvm install rbx</pre>
</div>

<div class="step slide" data-x="5000">
  <div style="text-align: center">
    <h1>Architecture</h1>
    <hr/>
    <h3>Written in Ruby (VM written in C++)</h3>
    <h3>Precise, compacting, generational GC</h3>
    <h3>JIT (SPEEEEEEEEEEEEEEEEEEEEEEEEEEEED)</h3>
    <h3>Compatible C-API</h3>
  </div>
</div>

<div class="step slide" data-x="5000" data-rotate="90">
  <div style="text-align: center">
    <%= image 'polyglot_3.png' %>
  </div>
</div>
